{% extends "registration/base.html" %}
{% block title %} Reset Password  {% endblock %}

{% block content %}

  
<!-- main -->
<div class="w3layouts-main"> 
	<div class="bg-layer">
		<h1>Reset Password
			
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			
            {{form.errors}}
		</h1>
		<div class="header-main">
			<div class="main-icon">
				<span class="fa fa-eercast"></span>
			</div>
			<div class="header-left-bottom">
				<form action="{% url 'auth:reset_new' token=token %}" method="post">
					{% csrf_token %}	
					
					<div class="icon1">
						<span class="fa fa-lock"></span>
						{{form.password}}
					</div>
                    <div class="icon1">
						<span class="fa fa-lock"></span>
						{{form.password1}}
					</div>
					<div class="bottom">
						<button type="submit" class="btn">Reset Password</button>
					</div>
				</form>	
			</div>
		</div>
		
	</div>
</div>	
<!-- //main -->

{% endblock %}